<!-- Default home page -->
<!--SCRIPTS-->
<script src="/js/dependencies/sails.io.js"></script>
<script src="/js/addclients.js"></script>
<script src="/js/dynatable.js"></script>
<script src="/js/manageclients.js"></script>
<!--SCRIPTS END-->
<!--STYLES-->
<link rel="stylesheet" href="/styles/dynatable.css">
<link rel="stylesheet" href="/styles/importer.css">
<link rel="stylesheet" href="/styles/style.css">
<!--STYLES END-->
<div class="container">
	<div class="row">
		<div class="col-sm-3">
<label for="companySelect">Company</label>
<select class="form-control" id="companySelect" name="company">
  <% for(var i=0;i<companies.length;i++){ var str = companies[i].name %>
  <option value="<%= str %>"><%= str %></option>
  <% } %>
</select>
</div>
</div><!-- close row -->
<table id="client-table" class="table-hover table-responsive table-bordered">
	<thead>
		<th>Id</th>
		<th data-dynatable-column="performsas">Client</th>
		<th>Address</th>
		<th>Email</th>
		<th style="display:none">Company</th>
		<th data-dynatable-column="clientrep">Rep</th>
		<th>Rrate</th>
		<th>Srrate</th>
	</thead>
	<tbody>
	</tbody>
</table>
</div> <!-- close container -->
<pre id="json-records" class="">
<% var records= JSON.stringify(clients) %>
<%= records %>
</pre>

<script type="text/javascript">
var highlight = function(rate, color){
var SRheader = $("#client-table tr th").filter(function(){
return $(this).text() == rate
});
var SRindex = SRheader[0].cellIndex;
SRindex++;
var SRrates = $("#client-table tr td:nth-child("+SRindex+")").filter(function(){
return $(this).text() == "true";
})
for (var i = SRrates.length - 1; i >= 0; i--) {
	SRrates[i].parentElement.style.backgroundColor = color;
};

}
	var $records = $('#json-records'),
    myRecords = JSON.parse($records.text());
var dynatable = $('#client-table')
.bind('dynatable:afterUpdate',function(e,dynatable){
  console.log("bound function");
  highlight("Srrate","gold");
  highlight("Rrate","silver");
})
.dynatable({
dataset:{
  records: myRecords
  },
  inputs:{
  	queries: $('#companySelect')
  }
  });
// dynatable.paginationPerPage.set(100);
// dynatable.process();

</script>