<!-- Default home page -->
<!--SCRIPTS-->
<script src="/js/dependencies/sails.io.js"></script>
<script src="/js/manageclients.js"></script>
<script src="/js/dynatable.js"></script>

<!--SCRIPTS END-->
<!--STYLES-->
<link rel="stylesheet" href="/styles/dynatable.css">
<link rel="stylesheet" href="/styles/importer.css">
<!--STYLES END-->
<div class="container">
<table id="client-table" class="table-hover table-responsive table-bordered">
	<thead>
		<th>Id</th>
		<th>Client</th>
		<th>Address</th>
		<th>Email</th>
	</thead>
	<tbody>
	</tbody>
</table>
</div> <!-- close container -->
<pre id="json-records" class="">
<% var records= JSON.stringify(clients) %>
<%= records %>
</pre>
<ul>
	<% for(var i=0;i<clients.length;i++){ %>
	<li><%= clients[i].firstname %></li>
	<% } %>
	<p><% JSON.stringify(clients) %></p>
</ul>
<script type="text/javascript">
	var $records = $('#json-records'),
    myRecords = JSON.parse($records.text());
$('#client-table')
.bind('dynatable:afterUpdate',function(e,dynatable){
  console.log("bound function");
})
.dynatable({
dataset:{
  records: myRecords
  }
  })
</script>