<!-- Default home page -->
<!--SCRIPTS-->
<script src="/js/dependencies/sails.io.js"></script>
<script src="/js/addclients.js"></script>
<script src="/js/dynatable.js"></script>
<script src="/js/manageclients.js"></script>
<!--SCRIPTS END-->
<!--STYLES-->
<link rel="stylesheet" href="/styles/dynatable.css">
<link rel="stylesheet" href="/styles/importer.css">
<link rel="stylesheet" href="/styles/style.css">
<!--STYLES END-->
<div class="container">
<label for="companySelect">Company</label>
<select class="form-control" id="companySelect" name="company">
  <% for(var i=0;i<companies.length;i++){ %>
  <option value=<%= companies[i].name %>><%= companies[i].name %></option>
  <% } %>
</select>

<table id="client-table" class="table-hover table-responsive table-bordered">
	<thead>
		<th>Id</th>
		<th data-dynatable-column="performsas">Client</th>
		<th>Address</th>
		<th>Email</th>
		<th>Company</th>
		<th data-dynatable-column="clientrep">Rep</th>
	</thead>
	<tbody>
	</tbody>
</table>
</div> <!-- close container -->
<pre id="json-records" class="hidden">
<% var records= JSON.stringify(clients) %>
<%= records %>
</pre>

<script type="text/javascript">
	var $records = $('#json-records'),
    myRecords = JSON.parse($records.text());
var dynatable = $('#client-table')
.bind('dynatable:afterUpdate',function(e,dynatable){
  console.log("bound function");
})
.dynatable({
dataset:{
  records: myRecords
  },
  inputs:{
  	queries: $('#companySelect')
  }
  })

// $('#companySelect').change(function(){
// 	var value = $(this).val();
// 	if (value === ""){
// 		dynatable.queries.remove("year");
// 	} else {
// 		dynatable.queries.add("company",value);
// 	}
// 	dynatable.process();
// });
</script>