<!-- Default home page -->
<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <h1>Register</h1>
<form role="form" action="/user" method="post">
  <input type="text" name="username" placeholder="Username"><br>
  <input type="text" name="email" placeholder="Email"><br>
  <input type="password" name="password" placeholder="Password"><br>
  <button type="submit">Sign up</button>
  </form><br><br>
  <span>- - OR - - </span>
<h1>Sign In</h1>
<form role="form" action="/auth/local" method="post">
  <input type="text" name="identifier" placeholder="Username"><br>
  <input type="password" name="password" placeholder="Password"><br>
  <button type="submit">Log In</button>
  </form>

</div>
<div class="col-sm-6">
  <h1>Hello Team!</h1>
  <p>This is a flegling little tool that will continue to grow and change to make all of our lives easier.</p>
  <p>Please register so that I can give you <b>Staff</b> access to the site.</p>
  <p>The first step is going to be to take over the Master Client list spreadsheet that everyone uses to track our clients. At first, it won't add much value over using Google Drive, but bear with me. Everything will start to accelerate in usefulness once different pieces come together!</p>
  <p>Here is the order of new modules that I hope to add to the site, so you can see where everything is going. If you have suggestions for additional features, or think that I should change the order of my priorities, let me know:</p>
  <ul>
    <li>Manage Clients</li>
    <li>Upload and Categorize Songs</li>
    <li>Automatically create Artist pages that will list their songs by album</li>
    <li>Create social media page that will list all upcoming concerts from Songkick, and all artist news from Echonest news API</li>
    <li>Ability to create playlists, and create pages for those playlists</li>
    <li>Manage pitch reports, create and send emails (with playlists) to Music Supervisors</li>
    <li>Connect to QuickBooks to sync contact info from the Master Client list</li>
  </ul>
  <p>Here are some more things that I will eventually be building that feel very amorphous at the moment but are informing my design decisions for the things that I am building right now:</p>
  <ul>
    <li>Create new website frontend that pulls in this data</li>
    <li>Manage Receipts</li>
    <li>Add receipts to QuickBooks undeposited funds account</li>
    <li>Create new sheet music store that is easier to manage, and will automatically add receipts</li>
    <li>Create Music Admin Reports</li>
    <li>Create Client Statements and d3 visualizations: pie charts for types of royalties, bar charts for royalties over time, maps for where their royalties are coming from, etc.</li>
    <li>Add royalty and/or advance checks to Quickbooks</li>
  </ul>


  </div>
</div>
</div>
