<!-- Default home page -->
<!--SCRIPTS-->
<script src="/js/dependencies/sails.io.js"></script>
<script src="/js/dynatable.js"></script>
<!--SCRIPTS END-->
<!--STYLES-->
<link rel="stylesheet" href="/styles/dynatable.css">
<link rel="stylesheet" href="/styles/importer.css">
<!--STYLES END-->
<div class="container">
<table id="user-table" class="table-hover table-responsive table-bordered">
  <thead>
    <th>Id</th>
    <th>Username</th>
    <th>Email</th>
    <th>Admin</th>
    <th>Client</th>
    <th>Creative Licensing</th>
    <th>Customer</th>
    <th>Music Admin</th>
    <th>Music Supervisor</th>
    <th>Registered</th>
    <th>Staff</th>
  </thead>
  <tbody>
  </tbody>
</table>
</div>
<pre id="json-records" class="hidden">
<% var records= JSON.stringify(users) %>
<%= records %>
</pre>
<script type="text/javascript">
var addChecks = function(){
//Add the update button to the end of every row.
var rows=$('tr');
for(i=1;i<rows.length;i++){
  var tdButton = document.createElement('button');
  tdButton.setAttribute("class","btn btn-default update");
  tdButton.setAttribute("id","button"+i);
  tdButton.setAttribute("disabled","disabled");
  tdButton.setAttribute("data-addRoles","[]");
  tdButton.setAttribute("data-remRoles","[]");
  tdButton.innerHTML="Update";
  rows[i].appendChild(tdButton);
}
//convert all of the true/false values in to checkboxes.
var boxes=$('td');
for(i=0;i<boxes.length;i++){
var index = $(boxes[i]).index()+1;
var header = $('tr th:nth-child('+index+')');
var value = header[0].getAttribute('data-dynatable-column');
  if(boxes[i].innerHTML=="true"){
  boxes[i].innerHTML='<input type="checkbox" name="roles" value="'+value+'" checked="checked">'
  }
   if(boxes[i].innerHTML=="false"){
   boxes[i].innerHTML='<input type="checkbox" name="roles" value="'+value+'" >' }
   }
//Enable the update button when a button is checked. 
$(':checkbox').change(function(){
  var TR = $(this).closest('tr');
  var submitButton = TR.find('.update');
  $(submitButton).unbind();
  var username = TR.children()[1].innerHTML;
  var addRoles = '';
  var remRoles = '';
  if(this.checked){
    addRoles=this.value;
    var existingAdd = JSON.parse($(submitButton).attr('data-addRoles'));
    existingAdd.push(addRoles);
    $(submitButton).attr('data-addRoles',JSON.stringify(existingAdd));
    var existingRem = JSON.parse($(submitButton).attr('data-remRoles'));
    if(existingRem.indexOf(addRoles)!==-1){
    existingRem.splice(existingRem.indexOf(addRoles),1);
  }
    $(submitButton).attr('data-remRoles',JSON.stringify(existingRem));
  };
  if(!this.checked){
    remRoles=this.value;
    var existingRem = JSON.parse($(submitButton).attr('data-remRoles'));
    existingRem.push(remRoles);console.log("existingRem after parse before stringify",existingRem)
    $(submitButton).attr('data-remRoles',JSON.stringify(existingRem));console.log(JSON.stringify(existingRem));
    var existingAdd = JSON.parse($(submitButton).attr('data-addRoles'));
    if(existingAdd.indexOf(remRoles)!==-1){
    existingAdd.splice(existingAdd.indexOf(remRoles),1);
  }
    $(submitButton).attr('data-addRoles',JSON.stringify(existingAdd));
  };
  var data = "{username:'"+username+"',add:'"+$(submitButton).attr('data-addRoles')+"',remove:'"+$(submitButton).attr('data-remRoles')+"'}";
  // data = JSON.parse(data);
  console.log(data);
  submitButton.removeClass('btn-default').addClass('btn-primary').prop('disabled',false);
  $(submitButton).click(function(){
    var existingAdd = JSON.parse(this.getAttribute('data-addRoles'));
    // existingAdd.push(addRoles);
    // this.setAttribute('data-addRoles',JSON.stringify(existingAdd));
    var existingRem = JSON.parse(this.getAttribute('data-remRoles'));
    // existingRem.push(remRoles);
    // this.setAttribute('data-remRoles',JSON.stringify(existingRem));

    // console.log(data);
    $.ajax({
      url:'/role/update',
      method:'POST',
      dataType:'json',
      processData:false,
      data:data
    });
  })
})                           
   } 

var $records = $('#json-records'),
    myRecords = JSON.parse($records.text());
$('#user-table')
.bind('dynatable:afterUpdate',function(e,dynatable){
  addChecks();
})
.dynatable({
dataset:{
  records: myRecords
  }
  })
  </script>


